#chart {
    background-color: #353A41;
}

.bar {
	shape-rendering: crispEdges;
}

.bar-label {
    fill: #FFF;
	text-anchor: middle;
	font-size: 18px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #FFF;
	shape-rendering: crispEdges;
}

.gridline path,
.gridline line{
	fill: none;
	stroke: #FFF;
	shape-rendering: crispEdges;
  stroke-opacity: 0.7;
}

.grid path {
  stroke-width: 0;
}
